<app-navbar></app-navbar>




<div class="container d-flex flex-row justify-content-center align-items-center">

  <div class="container text-center" style="margin:100px 0" *ngIf="students.length === 0">
    <p style="font-size:50px;">No students were found.</p>
  </div>

<table class="table table-striped border" *ngIf="students.length>0">
    <thead>
      <tr>
        <th scope="col">Nr.</th>
        <th scope="col" (click)="sortByFirstname()" >Firstname {{firstnameAsc ? '&#9660;' : '&#9650;'}}</th>
        <th scope="col" (click)="sortByLastname()" >Lastname {{lastnameAsc ? '&#9660;' : '&#9650;'}}</th>
        <th scope="col" (click)="sortByEmail()">Email {{emailAsc ? '&#9660;' : '&#9650;'}}</th>
        <th scope="col" (click)="sortByBirthDate()">Birthdate {{birthDateAsc ? '&#9660;' : '&#9650;'}}</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let student of students; index as i">
            <th scope="row">{{i}}</th>
            <td>{{student.firstname}}</td>
            <td>{{student.lastname}}</td>
            <td><a sttyle="width:100px;" href="mailto:{{student.email}}">{{student.email}}</a></td>
            <td>{{student.birthDate}}</td>
        </tr>
    </tbody>
  </table>

</div>