
<app-home></app-home>
<div id="login-div" class="d-flex flex-column justify-content-center align-items-center" >
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login-form" class="bg-light text-center">
        <div class="form-floating mb-3  w-100">
            <input type="email" id="email" class="form-control" [ngClass]="" placeholder="Email" autocomplete="username" formControlName="email">
            <label for="email">Email</label>
            <p class="text-danger text-start" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                Email is required!
            </p>
        </div>
        <div class="form-floating mb-5  w-100">
            <input type="password" id="password" class="form-control" placeholder="Password" autocomplete="current-password" formControlName="password" [ngClass]="{'border-danger': isInvalid }">
            <label for="password">Password</label>
            <p class="text-danger text-start" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                Email is required!
            </p>
        </div>
        <button class="btn btn-success w-100" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>

